body {
    background-color: lightskyblue;
}

h1 {
    text-shadow: 2px 3px;
    color: midnightblue;
}

h2 {
    border-style: double;
    padding-left: 40px;
    color: blue;
}

img {
    height: 400px;
    width: 600px;
}

em {
    color:green;
}

.list {
    border: 1px dashed black;
    text-align: center;
}

#firstname {
    text-transform: capitalize;
    font-style: italic;
}

#lastname {
    text-transform: uppercase;
    font-weight: bold;
}
